<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Konfigurator receptov</title>
        <!-- <link rel="stylesheet" href="base design.css"><link> -->
        <link rel="icon" href="/static/chess_icon.ico">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    </head>

    <body>

        <h1>Konfigurator receptov</h1> 

        <blockquote> Pozdravljeni v konfiguratorju receptov. Ta program je namenjen tistim, ki ne vedo kaj 
        lahko v zadnjem trenutku pred obiskom pripravijo iz treh sestavin, ki jih najdejo v hladilniku &#128522. <br>
        Ali pa tistim, ki bi radi odkrivali in poizkušali nove recepte.<br>

        Spodaj prosim vnesite sestavine iz katerih želite nekaj pripraviti, poleg njih pa vnesite tudi primerno količino. 
        </blockquote>
       
        <form>
            <label for="ingredient_name">Sestavina:</label><br>
            <input type="text" id="ingredient_name" name="ingredient_name"><br>
            <label for="amount">Količina:</label><br>
            <input type="text" id="amount" name="amount"><br>
            <label for="time">Čas:</label><br>
            <input type="text" id="time" name="time"><br>
            <input class = "button is-link" type="submit" value="Potrdi"><br>
            
        </form>

    </body>
</html>