<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Konfigurator receptov</title>
        <link rel="stylesheet" href="base design.css"></link>
    </head>

    <body>

<h1>Konfigurator receptov</h1> 

<blockquote> Pozdravljeni v konfiguratorju receptov. Ta program je namenjen tistim, ki ne vedo kaj 
    lahko v zadnjem trenutku pred obiskom pripravijo iz treh sestavin, ki jih najdejo v hladilniku :). 
    Ali pa tistim, ki bi radi odkrivali in poizkušali nove recepte. 

    Spodaj prosim vnesite sestavine iz katerih želite nekaj pripraviti, poleg njih pa vnesite tudi primerno količino. </blockquote>